@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
.conteudo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .voltar{
        position: absolute;
        width: auto;
        right: 20rem;
        top: 1rem;
    }

    img{
        width: 100%;
    }

    .form{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Varela', sans-serif;
        padding: 1rem 1.5rem;


        .texto{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 1rem;

            span{
                font-family: 'Varela', sans-serif;
                font-size: 29px;
                color: #303135;
                margin-bottom: 10px;
            }
    
            b{
                color: #828282;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .input{
            width: 100%;
            margin-top: 1rem;

            ion-label{
                color: #4F4F4F;
                font-size: 12px;
                font-family: 'Varela', sans-serif;
            }

            ion-input{
                background-color: rgba(255, 124, 45, 0.16);
                border-radius: 30px;
                font-size: 12px;
            }
        }

        ion-img{
            width: 12%;
            padding: 2px 8px 2px 15px;

        }
        .senha{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;

            p{
                font-size: 14px;
                color: #109BC5;
                text-align: end;
                font-family: 'Roboto', sans-serif;
            }
        }

        ion-button{
            width: 70%;
            --background: #FF7C2D;
            --background-activated: #FF7C2D !important;
            --background-focused: #FF7C2D !important;
            --background-hover: #FF7C2D !important;
            --border-radius: 30px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            margin-top: 1.5rem;

        }

    }

}