<ion-content>

  <div class="conteudo">

    <img class="voltar" (click)="voltar()" src="../../../assets/seta-voltar.svg" alt="">

    <img src="../../../assets/img-inicial.svg" alt="">

    <section class="form">
      <div class="texto">
        <span>Bem vindo(a) de volta!</span>
        <b>Realize seu login para continuar</b>
      </div>

      <div class="input">
        <ion-label>E-mail</ion-label>
        <ion-input placeholder="digite seu email..."  type="email"><ion-img src="../../../assets/email-icon.svg" ></ion-img></ion-input>
      </div>

      <div class="input">
        <ion-label>Senha</ion-label>
        <ion-input placeholder="digite sua senha..." type="password"><ion-img src="../../../assets/senha-icon.svg" ></ion-img></ion-input>
      </div>

      <div class="senha">
        <p>Esqueci a senha</p>
      </div>

      <ion-button (click)="entrar()">Entrar</ion-button>

    </section>
    
  </div>

</ion-content>
