<ion-content>

  <div class="conteudo">

    <img src="" alt="">

    <section class="form">
      <div class="texto">
        <span>Bem vindo(a) de volta!</span>
        <b>Realize seu login para continuar</b>
      </div>

      <div class="input">
        <ion-label>E-mail</ion-label>
        <ion-input><ion-img src="../../../assets/email-icon.svg" ></ion-img></ion-input>
      </div>

      <div class="input">
        <ion-label>Senha</ion-label>
        <ion-input><ion-img src="../../../assets/senha-icon.svg" ></ion-img></ion-input>
      </div>

      <p>Esqueci a senha</p>

      <ion-button>Entrar</ion-button>

    </section>
    
  </div>

</ion-content>
