<ion-content>

  <div class="conteudo">

    <ion-img src="../../../assets/img-cadastro.svg" alt=""></ion-img>

    <section class="form">
      <div class="texto">
        <span>Bem vindo(a)!</span>
        <b>Realize seu cadastro para continuar</b>
      </div>

      <div class="input">
        <ion-label>Nome</ion-label>
        <ion-input><ion-img src="../../../assets/usuario.svg" ></ion-img></ion-input>
      </div>

      <div class="input">
        <ion-label>E-mail</ion-label>
        <ion-input><ion-img src="../../../assets/email-cadastro.svg" ></ion-img></ion-input>
      </div>

      <div class="input">
        <ion-label>Telefone</ion-label>
        <ion-input><ion-img src="../../../assets/telefone.svg" ></ion-img></ion-input>
      </div>
      <div class="input">
        <ion-label>Endereço</ion-label>
        <ion-input><ion-img src="../../../assets/endereco.svg" ></ion-img></ion-input>
      </div>
      <div class="input">
        <ion-label>Senha</ion-label>
        <ion-input><ion-img src="../../../assets/senha-usuario.svg" ></ion-img></ion-input>
      </div>

      <ion-button>Salvar</ion-button>

    </section>
    
  </div>

</ion-content>
