<ion-content>
  <div class="conteudo">
    <div class="topo">
      <img class="imagem_loja" src="../../../assets/logo-lojas-cem.svg" alt="">
      <h2 class="localizacao">Av. São Manoel, São Roque - SP</h2>
    </div>
    <div class="categorias">
      <div class="tipos">
        <ion-button>Sofá</ion-button>
        <ion-button>Sofá</ion-button>
        <ion-button>Sofá</ion-button>
        <ion-button>Sofá</ion-button>
      </div>
      <div class="card_categorias">
        <ion-img class="produto" src="../../../assets/logo-lojas-cem.svg"></ion-img>
        <div class="descricao" >
          <h3>Sofá Elizabeth 3 lugares</h3>
          <ion-icon name="heart" aria-label="Favorite"></ion-icon>
        </div>
        <div class="valores">
          <div class="nota">
            <ion-icon name="heart" aria-label="Favorite"></ion-icon>
            <span>4.5</span>
          </div>
          <div class="preco">
            <ion-icon name="heart" aria-label="Favorite"></ion-icon>
            <span>R$3.000,00</span>
          </div>
        </div>
        <ion-button expand="block">Veja mais</ion-button>
      </div>
    </div>
  </div>
</ion-content>
