<ion-content>

  <div class="conteudo">

    <img class="imagem_splash" src="../../../assets/logo-lojas-cem.svg" alt="">
    <b>Confira os <span>melhores produtos</span> e aproveite as melhores <span>ofertas</span>!</b>
    <img class="imagem_inicio" src="../../../assets/img-login.svg" alt="">
    <div class="button">
      <ion-button expand="block" shape="default" (click)="entrar()"  class="entrar">Entrar</ion-button>
      <ion-button (click)="cadastro()" class="cadastrar">Cadastrar-se</ion-button>
    </div>
    
  </div>

</ion-content>

